.card-container {
    width: calc(33.33% - 30px);
    height: 150px;
    padding: 15px;
    float: left;
}

.card {
    border-radius: 25px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background: white;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: .3s;
    position: relative;
}

.card:active {
    transform: scale(.96);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card h3 {
    margin: 10px 0px;
    font-weight: 600;
}

.card h5 {
    margin: 10px 0px;
    font-weight: 400;
}

.card-content {
    height: 100%;
    display: flex;
}

.card-container .text {
    width: 60%;
}

.card-container .image {
    width: 40%;
    display: flex;
}

.card-container .image > img {
    margin: auto;
    width: 100%;
}

@media only screen and (max-width: 960px) {
    .card-container {
        width: calc(50% - 30px);
    }
}

@media only screen and (max-width: 600px) {
    .card-container {
        width: calc(100% - 30px);
    }
}