.card-container {
    width: calc(33.33% - 20px);
    height: 200px;
    padding: 10px;
    float: left;
}

.card {
    border-radius: 25px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: white;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

@media only screen and (max-width: 960px) {
    .card-container {
        width: calc(50% - 20px);
    }
}