.header {
    position: fixed;
    height: 150px;
    top: 0px;
    background: linear-gradient(180deg, rgba(245,248,252,1) 50%, rgba(255,255,255,0) 100%);
    left: 0px;
    right: 0px;
    z-index: 1;
    display: flex;
}

.header-content {
    margin: auto;
    position: relative;
}

.header-content .link {
    text-decoration: none;
    color: black;
    margin: 0px 5px;
    font-weight: 600;
}