@keyframes fadein {
    from {
        transform: translateY(25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(25px);
        opacity: 0;
    }
}


html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #F5F8FC;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

#app {
    margin: auto;
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.color-white {
    color: white !important;
}

@media only screen and (max-width: 960px) {
    #app {
        width: 75%;
    }
}
  