@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #F5F8FC;
}

#app {
    margin: auto;
    height: 100%;
    width: 50%;
    position: relative;
}

@media only screen and (max-width: 960px) {
    #app {
        width: 75%;
    }
}
  