@keyframes heartBeat{
    0% {
        opacity: 0;
        transform: scale(0);
    }
    25% {
        opacity: .25;
        transform: scale(.5);
    }
    50% {
        opacity: .50;
        transform: scale(1);
    }
    75% {
        opacity: .75;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.message {
    animation: heartBeat .3s;
    animation-fill-mode: both;
}

.message::before {
    position: absolute;
    content: '';
    top: -30px;
    left: 125px;
    border: 15px solid #15cbca;
    height: 0px;
    width: 0px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}